@font-face {
  font-family: ubuntuBold;
  src: url("fonts/Ubuntu/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: montserratBold;
  src: url("fonts/Montserrat/static/Montserrat-Bold.ttf");
}

@font-face {
  font-family: nunito;
  src: url("fonts/Nunito/static/Nunito-Regular.ttf");
}


@font-face {
  font-family: nunitoBold;
  src: url("fonts/Nunito/static/Nunito-Bold.ttf");
}



        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    padding-top: 70px;
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #0169be;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

#left{
    display: flex;
    align-items: center;
    justify-content: left;
}

.header-left {
    font-size: 26px;
    font-weight: bold;
    color: white;
    font-family: ubuntuBold;
    margin-right: 30px;
}

.header-center {
    font-size: 18px;
    font-weight: bold;
    color: white;
    font-family: montserratBold;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: nunito;
}

.logout-icon {
    width: 40px;
    height: 40px;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logout-icon:hover{
    background-color: #c5c5c5;
}

#exitIcon{
    width: 26px;
    height: 26px;
}

/* Main Content */
main {
    padding: 20px;
}

/* Info-Dosen */
.info-dosen{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    padding-left: 100px;
    flex-wrap: wrap;
}

.profile-dosen{
    width: 30px;
    height: 30px;
    background-color: transparent;
}

.gelar-dosen{
    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center; /* Vertical center */
    font-family: nunitoBold;
}


/* Class Grid */
.info-matkul{
    background-color: white;
    border-radius: 20px;
    width: auto;
    height: 100px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-direction: column;
}

.judul-matkul{
    font-family: nunitoBold;
    flex:1;
    padding-top: 20px;
    padding-left: 20px;
}

.desc-matkul{
    display: flex;
    gap: 10px;
}

.info-kelas{
    padding-left: 20px;
    width: 100px;
    padding-bottom: 20px;
}

.info-sem{
    width: 100px;
}

.info-tahun{
    width: 100px;
}   

.class-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
}

.class-card {
    background-color: white;
    border-radius: 25px;
    box-shadow: -5px 5px rgba(2, 31, 89, 0.5);
    overflow: hidden;
    height: 200px;
}

.class-header {
    background-color: #0169be;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 8px 8px 0 0;
}

.edit-icon {
    cursor: pointer;
}

.editIcon{
    width: 24px;
    height: 24px;
    filter: invert(100%);
    margin-right: 5px;
}

.deleteIcon{
    cursor: pointer;
    width: 40px;
    height: 34px;
}

.class-details {
    padding: 15px;
}

.class-details h3 {
    font-family: nunitoBold;
    margin-bottom: 10px;
}

.class-details p {
    margin-bottom: 5px;
    font-family: nunito;
}

.add-class-card {
    background-color: white;
    border: 4px dashed rgb(45, 45, 45);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 150px;
    cursor: pointer;
}

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: rgb(45, 45, 45);
    width: 100%;
    height: 100%;
}

.add-button:hover {
    background-color: #e9e9e9;
}