@font-face {
  font-family: ubuntuBold;
  src: url("fonts/Ubuntu/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: montserratBold;
  src: url("fonts/Montserrat/static/Montserrat-Bold.ttf");
}

@font-face {
  font-family: nunito;
  src: url("fonts/Nunito/static/Nunito-Regular.ttf");
}


@font-face {
  font-family: nunitoBold;
  src: url("fonts/Nunito/static/Nunito-Bold.ttf");
}



        
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    padding-top: 70px;
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #0169be;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

#left{
    display: flex;
    align-items: center;
    justify-content: left;
}

.header-left {
    font-size: 26px;
    font-weight: bold;
    color: white;
    font-family: ubuntuBold;
    margin-right: 30px;
}

.header-center {
    font-size: 18px;
    font-weight: bold;
    color: white;
    font-family: montserratBold;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: nunito;
}

.logout-icon {
    width: 40px;
    height: 40px;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logout-icon:hover{
    background-color: #c5c5c5;
}

#exitIcon{
    width: 26px;
    height: 26px;
}

/* Main Content */
main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.progress-bar{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.detail-tugas-desc{

}

.upload-jadwal-desc{

}

.upload-rubirk-desc{

}

.buat-kelompok-desc{

}

.penilaian-desc{

}


.progress-bar-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 0;
}

.detail-tugas-icon{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
}

.upload-jadwal-icon{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
}

.upload-rubirk-icon{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
}

.buat-kelompok-icon{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
}

.penilaian-icon{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
}





